// Header Styles

.header {
  width: 100%;
  margin: auto;
}

.nav, .logo {
  margin: auto;
}

.logo {
  margin-bottom: 40px;
  margin-top: 55px;
}

.logo, .logo img {
  max-width: 300px;
  min-width: 300px;
  max-height: 165px;
  width: 70%;
}

ul.nav {
  padding-left: 0;
  margin-bottom: 50px;
}

.nav a {
  font-family: $serif;
  color: $gray1;
  font-size: .9em;
  text-decoration: none;
}

.nav li {
  border-bottom: 1px solid $gray1;
  width: 55%;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding-bottom: 7px;
  margin: 7px auto 0 auto;
  list-style: none;
  text-align: center;
  display: block;
}

.nav li:last-child {
  border-bottom: none;
}

.nav a.current, .port a.current {
  color: $pink;
}

@media (min-width: 44em) {
  .logo, .logo img {
    width: 85%;
  }
  ul.nav {
    width: 80%;
    max-width: 565px;
    margin: auto;
    margin-bottom: 50px;
  }
  .nav li {
    display: inline;
    border-bottom: none;
    padding-left: 12px;
  }
  .nav a:hover {
    color: $gray2;
  }
}

// End Navigation Styles

// Homepage Styles

.home {
  width: 100%;
}

.home img {
  width: 100%;
  max-width: 940px;
  display: block;
  margin: auto;
}

// End Homepage styles



.main-content {
  max-width: 945px;
  width: 90%;
  margin: auto;
}

.left-content {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.left-content img {
  max-width: 100%;
}

.right-content {
  width: 55%;
  display: inline-block;
  margin-left: 5%;
  vertical-align: top;
}

.main-content hr {
  color: $gray2;
  max-width: 650px;
  margin: 13px auto 13px auto;  
}

.section {
  margin: 30px auto 30px auto;
}

h3 {
  font-family: $serif;
  font-size: 1.6em;
  font-weight: 400;
  color: $gray1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 0;
}

p, label {
  font-family: $sansserif;
  font-size: .85em;
  color: $gray3;
  line-height: 1.35em;
}

label {
  font-size: .75em;
}

p span {
  font-size: .75em;
  font-style: italic;
}

.introduction {
  font-size: .95em;
  width: 85%;
  margin: auto;
}

@media (max-width: 40em) {
  .left-content {
    width: 80%;
  }
  .left-content, .left-content img {
    display: block;
    margin: auto;
  }
}


@media (max-width: 40em) {
  .img-crop, .img-crop img {
    width: 100%;
  }

  .img-crop {
    overflow: hidden;
  }

  .img-crop:before, .img-crop img {
    display: inline-block;
    vertical-align: middle;
  }

  .img-crop:before {
    content: "";
    padding-top: 55%;
  }

  .img-crop img {
    padding-left: 100%;
    margin: -999em -100%;
    position: relative;
    top: 130;
  }
  
  .right-content {
    width: 80%;
    margin: auto;
    margin-top: 45px;
    display: block;
  }
}



// List Styles

li {
  list-style: none;
  display: inline-block;
}

ul {
  padding-left: 0;
}


// Item Page Styles

.breadcrumb {
  font-family: $sansserif;
  font-size: .8em;
  color: $gray1;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
}

.breadcrumb a {
  color: $gray2;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: $gray1;
}

#main-image {
  max-width: 330px;
  width: 100%;
  max-height: 380px;
  display: block;
  margin: auto;
}

.item-details {
  font-size: .7em;
}

.gallery ul {
  overflow: auto;
  display: table;
  margin: auto;
  margin-top: 20px;
}

.gallery li {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

.gallery li:last-child {
  margin-right: 0;
}

li img.landscape {
  max-width: none;
  max-height: 100%;
}

@media (max-width: 70em) {
  .specific .left-content, .specific .right-content {
    display: block;
    margin: auto;
  }
  .specific .left-content {
    width: 80%;
  }
  .specific .right-content {
    width: 70%;
  }
}


// Items Styles

.items li img {
  width: 175px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pressRelease li img {
  height: 210px;
}

.pressRelease li {
  height: 260px;
  vertical-align: top;
}

.pressRelease li a {
  text-decoration: none;
  font-family: $sansserif;
  font-size: .9em;
  color: $gray3;
  text-align: center;
}

.items ul {
  display: block;
  margin: auto;
}

@media (max-width: 480px) {
  .items li img {
    width: 165px;
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 624px) and (min-width: 480px) {
  .items ul {
    width: 368px;
  }
}

@media (max-width: 805px) and (min-width: 624px) {
  .items ul {
    width: 550px;
  }
}

@media (max-width: 1030px) and (min-width: 805px) {
  .items ul {
    width: 740px;
  }
}




// Inventory Styles 

.invent ul {
  margin: auto;
}

@media (max-width: 1024px) and (min-width: 688px) {
  .invent ul {
    width: 610px
  }
}

@media (max-width: 687px) {
  .invent ul {
    width: 305px;
  }
  .invent li {
    margin-bottom: 5px;
  }
}



//Portfolio Styles

.portfolio-nav {
  width: 25%;
}

.portfolio-nav li {
  display: block;
}

.portfolio-nav a {
  text-decoration: none;
  font-family: $serif;
  color: $gray1;
  font-size: .9em;
  line-height: 1.4em;
  font-weight: 400;
}

.portfolio-nav a:hover {
  color: $gray2;
}

.empty {
  width: 60%;
  height: 270px;
}

.port .right-content {
  margin-left: 0;
  width: 70%;
}

//@media (max-width: 80em) and (min-width: 40em) {
//  
//  .port div.right-content {
//    width: 80%;
//    margin: auto;
//    margin-top: 25px;
//  }
//  div.slideshow1_container {
//    max-height: 250px;
//  }
//}

@media (max-width: 40em) {
  .left-content.portfolio-nav {
    margin: auto 0 auto 10%;
    width: 80%;
  }
  .port div.right-content {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    padding-right: 0;
  }
}


//#holder {
//  height: 500px;
//  width: 800px;
//}


// Contact Styles

input, textarea {
  background: $gray1;
  border: none;
  height: 20px;
  margin: 5px auto 5px auto;
  width: 100%;
}

td:nth-child(1) {
  max-width: 115px;
  width: 115px;
  vertical-align: top;
  padding-top: 8px;
  padding-right: 10px;
  text-align: right;
}

td:nth-child(2) {
  width: 75%;
}

textarea {
  height: 90px;
}

td input.submit {
  width: 100px;
  background: $gray2;
  color: white;
}

td input.submit:hover {
  background: $pink;
}

td a {
  font-family: $sansserif;
  font-size: .7em;
  color: $gray3;
  text-decoration: none;
}

label {
  font-family: $serif;
  text-transform: uppercase;
  color: $gray2;
  text-align: left;
}

.asterisk {
  font-size: .7em;
}


// Footer Styles

.footer {
  width: 100%;
}

.footer hr {
  margin-top: 45px;
  width: 90%;
}

@media (min-width: 44em) {
  .footer hr {
    width: 80%;
  }
}

ul.social {
  margin: auto;
  position: relative;
  top: -30px;
  width: 130px;
}

.social li {
  list-style: none;
  display: inline-block;
  margin-left: -4px;
  border: 6px solid white;
}

.social li img {
  width: 30px;
  height: 30px;
}

.footer p {
  font-family: $sansserif;
  font-size: .8em;
  color: $gray1;
  letter-spacing: .01em;
  text-align: center;
  width: 85%;
  margin: auto;
  margin-bottom: 40px;
}

.footer a {
  color: $gray2;
  text-decoration: none;
}

.footer a:hover {
  color: $gray1;
}

// End Footer Styles

//.clearfix:before, clearfix:after {
//  content: "";
//  display: table;
//}
//
//.clearfix:after {
//  clear: both;
//}