// Type
$sansserif: 'Lato', Verdana, sans-serif;
$serif: 'Lora', Times, sans-serif;

// Colors
$pink: #f8c19d;
$gray1: #CCC; // Nav, Headers, & HR
$gray2: #959595; // Accent Type
$gray3: #464646; // Type
